body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $main-color-back; }

.header {
  background-image: $main-background;
  height: 600px;
  background-position: center;
  background-size: cover;
  border-radius: 0% 0% 40% 0%; }

.header_heading {
  color: $color-font-2;
  font-size: 50px;
  font-weight: bold;
  display: table;
  vertical-align: middle;
  height: 100px;
  width: 500px;
  margin-left: 200px; 

  &::before {
    content: 'awesome';
        position: absolute;
        margin-top: 65px;
        background-color: $highlight-color;
  }
}

.landing-logo img {
  vertical-align: middle;
  margin-left: 200px;
  margin-top: 10px; }

.landing-logo p {
  color: $color-font-2;
  vertical-align: middle;
  margin-left: 260px;
  margin-top: -50px;
  letter-spacing: 1px;
  font-size: 22px; }

.landing-logo span {
  display: table;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin-left: 5px; }

.header_text {
  display: table;
  width: 570px;
  margin-left: 200px;
  vertical-align: middle;
  color: $color-font-2;
  font-size: 17px; }

.header_button {
  margin-left: 200px; }


.footer, .section_card_right_container {
  background-color: $section-footer-color;
  color:$color-font-3; }

main {
  margin: auto;
  width: 60%;
   }

.section_text {
  font-size: 30px;
  font-weight: bold;
  color: $color-font-2;
  text-align: center; }

.section_card_img {
  position: absolute;
  height: 240px;
  margin: 15px; }

.section_card_heading {
  color: $color-font-1;
  font-weight: bold;
  text-align: center;
}

.section_card_right_container {
  width: 900px;
  height: 270px; }

.section_card_right_container p, a {
  position: relative;
  width: 400px;
  left: 440px;
  top: 40px;
 }
 
 .section_card_text, .section_link {
  color: $color-font-3;
  text-align: left;
  font-family: 'Fresca', sans-serif;
 }

.section_banner {
  display: flex;
  padding: 3px;
  width: 105%;
  height: 130px;
  transform: translate(-5%, 50%);
  background-color: $banner-color-1;
  background-image: linear-gradient(-90deg, $banner-color-2, $banner-color-1); }

.section_banner_heading {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: $color-font-2;
  margin-left: 140px;
  text-align: left;
  vertical-align: center; 
  
  &::before {
    content: 'adventure';
        position: absolute;
        margin-top: 0px;
        margin-left: 256px;
        background-color: $highlight-color;
  }
}


.section_banner_text {
  font-size: 14px;
  color: $color-font-1;
  margin-left: 140px;
  text-align: left; }
  

.footer {
  height: 200px; }

.footer-wrap {
  display: flex;
  font-size: 14px; }

.footer-cr {
  margin-bottom: 10px;
  margin-top: 110px;
  margin-left: 350px; }

.footer_text {
  @extend .footer-cr;
  width: 300px; }

.footer_logo.landing-logo {
  margin-bottom: 10px;
  margin-top: 100px;
  margin-left: -30px; }

.footer_logo.landing-logo p {
  color: $color-font-3; }

  
@mixin button-style {
background-color: $banner-color-1;
color: $color-font-1;
border: 1px solid transparent;
border-radius: 5% 5%;
padding: 10px 40px;
font: inherit;
font-weight: bold;
letter-spacing: 0.3px;
}

.header_button {
  @include button-style;
  float: left;
}

.section_banner_button {
  @include button-style;
  margin-left: 200px; 
  height: 50px;	
  margin-top: 40px;
}

@mixin link-style {
  color: $color-font-1;
}

a {
  @include link-style;
}

.section_link {
  position: relative;
  margin-left: 155px;
  text-align: left;
  vertical-align: center;
  }