$main-background: url('../img/m-h-night.jpg');
$main-color-back: #1d2230;
$color-font-1:  #FFF;
$color-font-2:  #FFF;
$color-font-3: #cce5ff;
$banner-color-1: #ffcc00;
$banner-color-2: #bd284d;
$section-footer-color: #394260;
$highlight-color: #ff3300;