$main-background: url('../img/m-h-day.jpg');
$main-color-back: #FFF;
$color-font-1:  #FFF;
$color-font-2: #001a33;
$color-font-3: #cce5ff;
$banner-color-1: #86b300;
$banner-color-2: #327dc9;
$section-footer-color: #121524;
$highlight-color: #4d79ff;
